@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Salsa&family=Tektur:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

a {text-decoration: none; color: black;}
li {list-style: none;}

.header {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
}
.header h1 {
    margin:  20px;
    font-size: 3.5rem;
    height: 100%;
    display: flex;
    align-items: end;
    text-align: center;
    font-family: 'Tektur', sans-serif;
}
.header button {
    margin: 20px;
    display: none;
}
.menu {
    display: flex;
    gap: 2rem;
    margin: 0 20px;
    justify-content: end;
    border-bottom: 1px solid black;
}
.menu a {
    padding: 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-family: 'Tektur', sans-serif;
}
.menu a:hover {
    background-color: #33333333;
}
#menu-btn {
    width: 35px;
    height: 50px;
    border: none;
    background-color: #33333333;
    border-radius: 8px;
    font-size: 1.25rem;
}
#menu-btn:hover{
    cursor: pointer;
    background-color: #83838333;
}


.container-sobre {
    display: flex;
    flex-direction: column;
}
.sobre {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap: 1rem;
}
.foto {
    width: 50%;
}
.foto img {
    width: 100%;
    min-width: 100px;
    border-radius: 50%;
}
.descricao {
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.descricao-home {
    font-size: 2rem;
}
.descricao-home p {
    font-family: 'Salsa', cursive;
}
.info {
    padding: 10px;
    width: 90%;
    background-color: #75757527;
    border-radius: 12px;
    display: flex;
}
.contato {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.contato img {
    width: 50px;
}
.informacoes {
    font-size: 1rem;
}

.sobre-saibamais {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 300;
}


.container-exp-profissional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-exp-profissional h1 {
    text-align: center;
}
.exp-profissional {
    width: 60%;
    min-width: 300px;
    background-color: #33333333;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    font-weight: 300;
}

.exp-profissional ul {
    padding: 10px 0;
}

.container-experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-experiencia h1 {
    text-align: center;
    
}
.container-skills {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px;
}
.skill {
    width: 110px;
    height: 110px;
    border-radius: 12px;
    background-color: #33333333;
    
}
.skill:hover {
    cursor: pointer;
    padding: 5px;
 }
.skill img {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.container-projetos h1 {
    text-align: center;
}
.container-projetos-itens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}
.item {
    width: 450px;
    min-width: 340px;
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
}
.img-projeto {
    width: 90%;
    height: 100%;
}
.skills-projeto {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-left: 1px solid black;
}
.skl-projeto img {
    width: 100%;
    padding: 5px;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    gap: 0.5rem;
}
.footer p {
    font-weight: 300;
}
.social {
    display: flex;
    gap: 1rem;
}
.social img {
    width: 45px;
}


@media screen and (max-width: 920px) {
    .sobre {
        align-items: center;
        flex-direction: column;
    }
    .descricao {
        align-items: center;
    }
    .sobre-saibamais {
        margin: 0 20px;
    }
}


@media screen and (max-width: 600px) {
    .header button {
        display: block;
    }
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        border-top: 1px solid black;
        padding: 10px;
        transition: opacity 0.3s ease-in-out;
    }
    .menu.show {
        display: flex;
        pointer-events: auto;
    }
    .menu a {
        padding: 10px;
        border-radius: 12px;
        background-color: #33333333;
    }
    .descricao {
        text-align: center;
    }
    .informacoes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1rem;
    }
    .info {
        flex-direction: column;
        gap: 1rem;
    }
}