* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    overflow: hidden;
}
.header-container {
    max-width: 1280px;
    height: 90px;
    display: flex;
    margin: auto;
    background-color: transparent;
    border-bottom: 2px solid #221a18;
}
.logo {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: start;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a {
    text-decoration: none;
    color: #2b2726;
    font-family: 'Noto Serif Old Uyghur', serif;
    font-family: 'Work Sans', sans-serif;
}
.menu {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: end;
    font-family: 'Courier New', Courier, monospace;
}
.links {
    display: flex;
    gap: 5rem;
    list-style: none;
}
.menu-link {
    font-weight: 300;
}
.menu-link:hover {
    background-color: #2b27261a;
    padding: 10px;
    cursor: pointer;
}
.main-container {
    max-width: 1280px;
    height: calc(100vh - 180px);
    margin: auto;
}
.page {
    display: none;
}
.page.active {
    display: block;
}

#about-page {
    width: 100%;
    height: 100%;
    color: #2b2726;
}
.intro-1 {
    width: 100%;
    height: 50%;
    display: flex;
}
.foto {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto img {
    width: 70%;
    border-radius: 50%;
}
.titulo {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}
.titulo p {
    line-height: 50px;
    font-size: 2rem;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.intro-2 {
    width: 100%;
    height: 50%;
}
.descricao {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.descricao p {
    line-height: 25px;
    text-indent: 50px;
}
.skills {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill {
    display: flex;
    gap: 2.2rem;
}

/* PAGINA PROJETOS */
#projects-page {
    width: 100%;
    height: 100%;
}
.projects-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    padding: 30px;
    gap: 1rem;
}
.project {
    width: 500px;
    height: 410px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.project img {
    width: 100%;
}
.project-descricao {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    border-color:#221a18;
}
.svg-icon {
    transition: 0.1s;
}
.svg-icon:hover {
    scale: 1.2;
}
.footer-container {
    max-width: 1280px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #2b2726;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sociais svg {
    width: 50px;
    height: 30px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    body {
        overflow: scroll;
    }
    .header-container {
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        padding: 0 35px;
        height: 100%;
    }
    .menu {
        overflow-x: hidden;
        height: 100%;
    }
    .links {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
    }
    .menu-link {
        font-size: 1.15rem;
    }
    .menu-link:hover {
        background-color: #2b27261a;
        border-radius: 3px;
    }
    .intro-1 {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    .foto {
        width: 300px;
    }
    .titulo {
        text-align: center;
    }
    .titulo p {
        font-size: 25px;
        font-family: 'Comfortaa', sans-serif;
        font-family: 'DM Sans', sans-serif;
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Merriweather Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
    }
    .skill {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .svg-icon {
        transition: 0.1s;
        min-width: 300px;
    }
    .svg-icon:hover {
        scale: 1.2;
    }
    .main-container {
        height: auto;
    }
    .descricao p {
        padding: 10px;
    }
    .skills {
        padding: 15px 0;
    }
    .footer-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100px;
    }
    .sociais {
        width: 100px;
        display: flex;
    }
    .sociais svg {
        height: 70px;
    }
    .project {
        width: 400px;
        height: 330px;
    }
}