@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    color: var(--font-grey-1);
}

:root {
    --grey-1: #3D3D3D;
    --grey-2: #2C2C2C;
    --grey-3: #242424;
    --grey-4: #1E1E1E;
    --font-grey-1: #AAAAAC;
    --font-grey-2: #646464;
    --font-yellow: #EAAE37;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-3);
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 0px;
}

.activate {
    color: var(--font-yellow);
    border-bottom: 3px solid var(--font-yellow);
    font-weight: 600;
}

header, main, footer {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header {
    height: 100px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 50%;
    height: 100%;
}

.menu a {
    text-decoration: none;
}

main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    min-height: calc(100vh - 220px);
}

#main-home {
    display: flex;
}

.foto-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.img-perfil {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(163, 163, 163, 0.671);
}

.hello {
    text-align: center;
    padding: 20px;
}

.hello h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

.hello h2 {
    font-size: 1.5em;
    margin: 5px 0;
}

.hello h3 {
    font-size: 1.2em;
    margin: 5px 0;
    font-style: italic;
}

footer {
    height: 120px;
}

.sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.icon img {
    width: 30px;
    height: 30px;
}

/* ABOUT */
#main-about {
    width: 100%;
    align-items: start;
    flex-direction: row;
}
.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 10px;
}

.about-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.tittle {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.skill-icon {
    width: 80px;
}

.descricao {
    font-size: 1em;
    line-height: 1.5;
    border-left: 1px solid;
    padding: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.desc-skills {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.section-descricao {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.skill {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 45px;
}

.progress-loader {
    width: 100%;
    height: 10px;
    border-radius: 7px;
    position: relative;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 0;
    height: 10px;
    border-radius: 7px;
    background: var(--font-grey-1);
    transition: width 0.5s;
}

.progress span {
    position: absolute;
    top: -20px;
    font-size: 14px;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 100%;
        gap: 2rem;
    }
    #main-about {
        flex-direction: column;
    }
    .about {
        grid-template-columns: 1fr;
    }
}
