@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
}

:root {
    --grey-1: #3D3D3D;
    --grey-2: #2C2C2C;
    --grey-3: #242424;
    --grey-4: #1E1E1E;


    --font-grey-1: #AAAAAC;
    --font-grey-2: #646464;
    --font-yellow: #EAAE37;
}

header {
    width: 100%;
    background-color: var(--grey-1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle {
    font-size: 14px;
    color: var(--font-grey-1);
    font-weight: 600;
    padding: 10px 0;
}

.paginas {
    display: flex;
    width: 100%;
    background-color: var(--grey-3);
}

.link {
    font-size: 14px;
    color: var(--font-grey-1);
    font-weight: 300;
    text-decoration: none;
    background-color: var(--grey-2);
    padding: 7px 50px;
    cursor: pointer;
}

.m-active {
    font-weight: 600;
    border-top: 4px solid #D7A33B;
    color: #D7A33B;
    background-color: var(--grey-4);
}

main {
    width: 100%;
    height: calc(100vh - 126px);
    background-color: var(--grey-4);
}

.m-active {
    display: block;
}

footer {
    width: 100%;
    height: 50px;
    background-color: var(--grey-3);
    font-size: 14px;
    color: var(--font-grey-2);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.icon img {
    width: 30px;
    height: 30px;
    display: flex;
}

#hello {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('background-home.svg');
    background-repeat: no-repeat;
    background-position-x: 75px;
    background-position-y: 30px;
}

#about, #projects {
    display: none;
    background-color: rgb(89, 100, 156);
}